/rootfs*
/vmlinux*
/modules
/openwrt*
/*.img
/.emacs*
/src/modules/Module.symvers
/src/modules/DSL-2760U
/src/modules/*.o
/src/modules/*.ko
/src/modules/*.mod.c
/src/modules/.*.cmd
/src/modules/.*.d
.tmp*
