CONFIG_TARGET_brcm63xx=y
CONFIG_TARGET_brcm63xx_Broadcom=y

# build all kmod packages
CONFIG_ALL_KMODS=y

CONFIG_TARGET_ROOTFS_CPIOGZ=y
# CONFIG_TARGET_ROOTFS_JFFS2 is not set
# CONFIG_TARGET_ROOTFS_SQUASHFS is not set

# ccache
CONFIG_DEVEL=y
CONFIG_CCACHE=y

# ImageBuilder
CONFIG_IB=y

# busybox
CONFIG_BUSYBOX_CONFIG_UNICODE_SUPPORT=y
CONFIG_BUSYBOX_CONFIG_LAST_SUPPORTED_WCHAR=0
CONFIG_BUSYBOX_CONFIG_UNICODE_COMBINING_WCHARS=y
CONFIG_BUSYBOX_CONFIG_UNICODE_WIDE_WCHARS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_MOUNT_LABEL=y
# remove the leading '#' to exclude the vi applet of busybox
## CONFIG_BUSYBOX_CONFIG_VI is not set

# 3G modem support
CONFIG_PACKAGE_kmod-usb-serial=m
CONFIG_PACKAGE_kmod-usb-serial-option=m
CONFIG_PACKAGE_comgt=m
CONFIG_PACKAGE_usb-modeswitch=m
CONFIG_PACKAGE_usb-modeswitch-data=m
CONFIG_PACKAGE_vim-small=m

# disable the buildin firewall package
# CONFIG_PACKAGE_firewall is not set

# core utils
CONFIG_PACKAGE_ip=m
CONFIG_PACKAGE_tc=m
CONFIG_PACKAGE_ip6tables=m
CONFIG_PACKAGE_ebtables=m
CONFIG_PACKAGE_ebtables-utils=m
CONFIG_PACKAGE_arptables=m
CONFIG_PACKAGE_iptables-mod-nat-extra=m

# VPN
CONFIG_PACKAGE_openvpn=m
CONFIG_PACKAGE_n2n=m
CONFIG_PACKAGE_ppp-mod-pptp=m
CONFIG_PACKAGE_pptpd=m

# storages
CONFIG_PACKAGE_block-mount=m
CONFIG_PACKAGE_autofs5=m
CONFIG_PACKAGE_autofs5-mount-ext2=m

# misc
CONFIG_PACKAGE_ez-ipupdate-3322=m
CONFIG_PACKAGE_openldap-server=m
CONFIG_PACKAGE_openldap-utils=m
CONFIG_PACKAGE_samba36-server=m
CONFIG_PACKAGE_samba36-client=m
CONFIG_PACKAGE_mwan3=m
CONFIG_PACKAGE_qos-scripts=m
CONFIG_PACKAGE_tcpdump=m
CONFIG_PACKAGE_wpa-cli=m
CONFIG_PACKAGE_iperf-mt=m
CONFIG_PACKAGE_netcat=m
CONFIG_PACKAGE_rsync=m
CONFIG_PACKAGE_git=m
CONFIG_PACKAGE_openssh-client=m
CONFIG_PACKAGE_wol=m
CONFIG_PACKAGE_wget=m
CONFIG_PACKAGE_lftp=m
CONFIG_PACKAGE_sudo=m
CONFIG_PACKAGE_screen=m
CONFIG_PACKAGE_ntfs-3g=m
CONFIG_PACKAGE_NTFS-3G_USE_LIBFUSE=y
CONFIG_PACKAGE_relayd=m
CONFIG_PACKAGE_msmtp=m

# luci and https
CONFIG_PACKAGE_luci=m
CONFIG_PACKAGE_luci-app-statistics=m
CONFIG_PACKAGE_luci-app-mwan3=m
CONFIG_PACKAGE_luci-app-ddns=m
CONFIG_PACKAGE_luci-proto-3g=m
CONFIG_PACKAGE_luci-ssl=m
CONFIG_PACKAGE_uhttpd-mod-tls=m
CONFIG_PACKAGE_uhttpd-mod-tls_cyassl=y
CONFIG_PACKAGE_luci-i18n-chinese=m

# udev
CONFIG_PACKAGE_udev=m
CONFIG_PACKAGE_lrzsz=m
